# dotNet compilation
Web/bin
Web/App_Data/
[Dd]ebug*/
[Oo]bj/
[Rr]elease*/
[Pp]ackages/*/**
*.ncb
oldblogfiles/*/**
oldblogfiles

# squishit compilation: (all source css and js should be in subdirectories)
src/Web/*.css
src/Web/*.js
bundles/*.css
bundles/*.js

# vs user space files
_ReSharper*/
*.resharper
*.user
*.suo
*.dotCover

# directory files
*.log
*.DS_Store
*.[Cc]ache
[Tt]humbs.db

# backup files
*.bak
backups*/

# azure stuff
*.publishsettings

robots.txt

