@using System.Linq
@model System.Collections.Generic.IEnumerable<MarkdownBlog.Net.Web.Models.SearchResult>
@{ ViewBag.Title = "Search unavailable"; }

<div>Sorry search seems to be unavailable at the moment</div>