@using MarkdownBlog.Net.Web.Models

@helper FeedLink() {
    <a href="/blog/feed">
        <img src="~/Content/images/feed-icon-14x14.png" alt="RSS" />&nbsp;RSS</a>
    <br />
}

@helper CanonicalUrl() {
    var canonicalUrl = "http://" + ((Site)HttpContext.Current.Application["SiteSettings"]).Domain + HttpContext.Current.Request.Url.AbsolutePath;
    canonicalUrl = canonicalUrl.ToLowerInvariant().Trim();
    canonicalUrl = canonicalUrl.TrimEnd('/');
    
    <link rel="canonical" href="@(canonicalUrl)" />
}
