@using MarkdownBlog.Net.Web.Services

@helper FeedLink() {
    <a href="/blog/feed">
        <img src="~/Content/images/feed-icon-14x14.png" alt="RSS" />&nbsp;RSS</a>
    <br />
}

@helper CanonicalUrl() {
    var linkService = new LinkService();
    var canonicalUrl = linkService.CanonicalUrlFromRelative(HttpContext.Current.Request.Url.AbsolutePath);
    
    <link rel="canonical" href="@(canonicalUrl)" />
}
