@{ViewBag.Title = "Login";}

<p>Change your password:</p>

<p>Not implemented yet - sorry!</p>

@*
@using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post)) {
    
    <div>@Html.ValidationSummary()</div>
    <div>
        <label for="oldPassword">Old Password:</label>
        @Html.TextBox("oldPassword")
    </div>
    
    <div>
        <label for="newPassword">New Password:</label>
        @Html.Password("newPassword")
    </div>

        <div>
        <label for="confirmPassword">Confirm Password:</label>
        @Html.Password("confirmPassword")
    </div>

    <button type="submit">Submit</button>
}

*@