@{ ViewBag.Title = "Do Not Track!"; }

<h3>This browser has now been setup to not track in Google Analytics.</h3>
<p>Please run this again if you ever clear out your cookies!</p>

<p>and remember to run this on your mobile devices (IPhone, IPad, Android mobile etc.) and other browsers (Internet Explorer, Firefox, Chrome etc.)</p>

<p>Go to the <a href="/">website now</a> then!</p>
