@model MarkdownBlog.Net.Web.Models.SiteViewModel
@{ ViewBag.Title = "Home"; }

<h3>Latest Blog Posts:</h3>

@foreach (var post in Model.PostsMetadata.Latest(3)) {
    @Html.Partial("PostLink", post);
}

@section asides
{
    @Html.Partial("Asides", Model)
}
