@model IEnumerable<MarkdownBlog.Net.Web.Models.PostMetadata>
@{
    ViewBag.Title = "Nick Meldrum's blog";
    ViewBag.Jumbotron = "<h1>Nick Meldrum's blog</h1><h2>and little corner of the interwebs</h2>";
}

<h3>Latest Blog Posts:</h3>

@foreach (var post in Model) {
    @Html.Partial("PostLink", post);
}

