@model IEnumerable<MarkdownBlog.Net.Web.Models.PostMetadata>
@{
    ViewBag.Title = "Nick Meldrum's blog";
    ViewBag.Jumbotron = "<h1>Nick Meldrum's blog</h1><h2>and little corner of the interwebs</h2>";
}

<h3>Hire me!</h3>

<p>
Nick is currently looking for his next fantastic opportunity: leading teams or just writing the next great JavaScript/ .Net web application for you. <a href="mailto:nick@nickmeldrum.com" title="Email Nick">Email Nick here to enquire further</a>.
</p>

<p>
He has over 14 years of developer experience including a stint at Microsoft. He leads development teams, acts as an agile agent of change (i.e. ScrumMaster) and designs systems primarily for web applications. He is currently a Tech Lead at [Scribestar](http://www.scribestar.com/ "A legal sector tech startup") developing a SAAS platform for a startup disrupting the legal side of capital market transactions.
</p>

<p>
See more about my skills and experience by looking at <a href="/cv">my online cv (résumé)</a>.
</p>

<h3>Latest Blog Posts:</h3>

@foreach (var post in Model) {
    @Html.Partial("PostLink", post);
}

