@model MarkdownBlog.Net.Web.Models.PostMetadata

@if (Model != null) {
    <a href="/blog/@Model.Slug">@Model.Title - <i>Posted by @Model.Author on @Model.PublishDate.ToString("dd MMMM yyyy")</i></a>
<p>@Model.ShortDescription</p>
}
