@model MarkdownBlog.Net.Web.Models.StackOverflowFlairViewModel
@if (Model != null)
{
    <h3>Stack Overflow Flair</h3>
    
    <a href="@Model.Link">
        <img src="@Model.ImageLink" width="208" height="58" alt="@Model.Text" title="@Model.Text">
    </a>    
    <hr />
}
