@model IEnumerable<MarkdownBlog.Net.Web.Models.PostMetaDataWithMonthAndYearGrouping>

@if (Model != null) {
    <h3>Archive</h3>
    <ul>
        @foreach (var month in Model) {
            <li><a href="/blog/archive/@month.MonthAndYearGrouping.ToString("MMM").ToLowerInvariant()/@month.MonthAndYearGrouping.Year">@month.MonthAndYearGrouping.ToString("MMMM") @month.MonthAndYearGrouping.Year (@month.PostMetaDataList.Count())</a></li>
        }
    </ul>
    <hr />
}
