@model MarkdownBlog.Net.Web.Models.GithubBadgeViewModel
@if (Model != null)
{
<h1>GitHub</h1>
<iframe src="@Model.BadgeSource" style="border: 0;height: 142px;width: 200px;overflow: hidden;" frameBorder="0"></iframe>
}
