<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="Name" value="nickmeldrum.com" />
  <add key="Domain" value="nickmeldrum.com" />
  <add key="Description" value="Nick's blog" />
  <add key="Owner" value="Nick Meldrum" />
  
  <add key="DisqusShortName" value="nickmeldrum" />
  
  <add key="StackOverflowFlairId" value="15477" />
  <add key="StackOverflowFlairUserName" value="nick-meldrum" />
  <add key="StackOverflowFlairDisplayName" value="Nick Meldrum" />
  <add key="StackOverflowFlairTheme" value="default" /> <!-- default, clean, dark, hot dog stand -->
  <add key="StackOverflowFlairUseStackExchangeFlair" value="true" />

  <add key="TwitterTimelineWidgetId" value="383270712577773568" />
  <add key="TwitterTimelineQuery" value="@nick_meldrum" />
  <add key="TwitterTimelineUrl" value="https://twitter.com/nick_meldrum" />

  <add key="GoogleTagManagerAccount" value="GTM-54X2PK" />
</appSettings>