<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings file="SiteSettings.config">
    <add key="azureStorageAccountName" value="nickmeldrumstaging" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="azureStorageKey" value="oVPsHTAg5QrULND9BcI/sP3GG0bjKHsiH9ZT4NqXvsICEcvpsN6hCYfysLpDCn+HHt1jYBTB0Iw4h2EtAJ0BUg==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="azureStorageBlobEndPoint" value="https://nickmeldrumstaging.blob.core.windows.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
</configuration>