<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings file="SiteSettings.config">
    <add key="azureStorageAccountName" value="nickmeldrum" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="azureStorageKey" value="IhkcDU2WK/MOtrkpTiCE+TsGZaxZGNeLcZPdiR/0CNPseIku/Gbf+2KNROomI4T2R8prkSYuBhforFBDTVBj9w==" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="azureStorageBlobEndPoint" value="https://nickmeldrum.blob.core.windows.net/" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.webServer>
    <rewrite>
      <rules>
        <rule name="Canonical Hostname" enabled="true" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
      </rules>
    </rewrite>
  </system.webServer>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>